/* Css/index.css */

body {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
.add-contact-container {
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  color: #333;
}
.add-contact-form {
  display: flex;
  flex-direction: column;
}
input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
.button-container {
  text-align: center;
}
.error-message-duplicate {
  color: red;
  position: absolute;
  left: 45%;
  top: 45%;
}
